@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wishlist-section {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.wishlist-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.wishlist-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.wishlist-table th,
.wishlist-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.wishlist-table th {
    background-color: #112D4E;
    color: white;
}

.wishlist-table td {
    background-color: white;
}

.wishlist-table td a{
    text-decoration: none;
    color: #112D4E;
    
}

.wishlist-table td a:hover{
    text-decoration:underline

}

.wishlist-image {
    width: 100px; /* Adjust width as necessary */
    height: 75px; /* Keep the aspect ratio */
    object-fit: cover;
}

.delete-btn {
    background-color: #ff4d4d; /* Red background */
    color: white; /* White text */
    border: none; /* Remove default border */
    padding: 8px 12px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
}

.delete-btn:hover {
    background-color: #e60000; /* Darker red on hover */
}